/* Css général */

body{
	background:#828282;
}

.game{
	background:#fff;
}

.bg-gray-300 {
	background:#969696;
}

.h-6 {
	height:1.5rem;
}

.w-6 {
	height:1.5rem;
}

/* heights and width custom */
.rotate-20deg {
	transform: rotate(-20deg);
}

.h-20 {
	height:20rem;
}

.h-22 {
	height:22rem;
}

.h-full {
	height:100%;
}

.w-full {
	width:100%;
}

/* messages and notifications */

.maintenance-msg{
	white-space:pre-line;
}


/* news */
.news {
	overflow-y: scroll;
	text-overflow: "";
}

/* sac */
.background-img {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.sac {
	z-index:-1;
	background:no-repeat url("../img/backgrounds/sac_optimized-transp.png"), url("../img/backgrounds/wood.png");
}

/* icons custom */
.warning-icon-lg {
	height:2.5rem;
	width:2.5rem;
}

.maintenance-icon-lg {
	height:3.5rem;
	width:3.5rem;
	transform:rotate(45deg);
}
