/* Css général */

body{
	background:#EEEEEE;
	background-image: url("../images/bg/'f724149e.png");
}

.guest{
	background:#828282;
	background-image: url("../images/bg/'f724149e.png");
}

.bg-gray-300 {
	background-color: rgba(128, 128, 128,0.5);
}

.bg-gray-light {
	background-color: rgba(236, 236, 236,0.3);
}

.h-6 {
	height:1.5rem;
}

.w-6 {
	height:1.5rem;
}

.rotate-20deg {
	transform: rotate(-20deg);
}

.h-20 {
	height:20rem;
}

.h-22 {
	height:22rem;
}

.h-full {
	height:100%;
}

.w-full {
	width:100%;
}

.news {
	overflow-y: scroll;
	text-overflow: "";
}